<!DOCTYPE html>
<html lang = "ko">
  <head>
    <title>KAIST CAMP</title>    
    <strong><link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"></strong>
	<meta charset="utf-8">
  </head>
  <body>
   
    <header>
      <div class="container">
        <h1 class="logo">KAIST CAMP</h1>
      </div>
      <div class="container">
        <h1 class="logo"></h1>
        <strong><nav>
          <ul class="menu">
            <li><a href="{{ url_for('home')   }}">Home</a></li>
            <li><a href="{{ url_for('about')  }}">함수 설명</a></li>
            <li><a href="{{ url_for('grade')  }}">채점</a></li>
          </ul>
        </nav></strong>
        </div>
    </header> 
     
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
     
  </body>
</html>